.form-group
  = f.label :name, nil, class: 'sr-only'
  = f.text_field :name, class: 'form-control', placeholder: 'Full Name'
  %span.help-block
.form-group
  = f.label :email, nil, class: 'sr-only'
  = f.text_field :email, class: 'form-control', placeholder: 'Email'
  %span.help-block
.form-group
  = f.label :phone, nil, class: 'sr-only'
  = f.text_field :phone, class: 'form-control', placeholder: 'Phone'
  %span.help-block
.form-group
  = f.label :password, nil, class: 'sr-only'
  = f.password_field :password, class: 'form-control', placeholder: 'Pa55w0rd'
  %span.help-block