<div class='modal-header'>
  <button class='close' data-dismiss='modal' type='button'>
    <span aria-hidden='true'>&times;</span>
    <span class='sr-only'>Close</span>
  </button>
  <%= image_tag 'black_logo.png', class: 'modal-logo' %>
  <h4 class='modal-title'>Sign up</h4>
</div>
<%= form_for User.new, html: {role: 'form', data: {model: 'user', remote: true}} do |f| %>
  <div class='modal-body'>
    <%= render 'users/fields', f: f %>
  </div>
  <div class='modal-footer'>
    <%= link_to 'Sign in', '#sign-in', role: 'tab', data: {toggle: 'tab'}, class: 'btn btn-default btn-sm' %>
    <%= f.submit 'Sign up', class: 'btn btn-purple' %>
  </div>
<% end %>