.row.text-center
  .col-sm-4
    %h2
      %span= image_tag('location.svg')
    %p We Come To You
    %p
      %small Any time, any place to get started.
  .col-sm-4
    %h2
      %span= image_tag('checklist.svg')
    %p No Grunt Work
    %p
      %small We handle every aspect of the buying and
      %br
      selling process for you.
  .col-sm-4
    %h2
      %span= image_tag('wheel.svg')
    %p Win-win situation
    %p
      %small A safer, cost effective and efficient way to buy and sell
      %br
      through the private party market.

.row.text-center
  .col-sm-4
    %h2
      %span= image_tag('eye.svg')
    %p Total Transparency
    %p
      %small
        No hidden costs or fees.
        %br
        #{Settings.app.name} charges a simple 5%
        %br
        commission once the car sells.
  .col-sm-4
    %h2
      %span= image_tag('money.svg')
    %p No upfront risks or obligations
    %p
      %small If you don’t feel good
      %br
      about the process,
      %br
      just let us know and you can walk.
  .col-sm-4
    %h2
      %span= image_tag('lock.svg')
    %p Secure Transaction
    %p
      %small
        #{Settings.app.name} handles the
        %br
        title and payment transaction.