.row.text-center
  .col-sm-4
    %h2
      %span= image_tag('money.svg')
    %p 5-day money back guarantee
    %p
      %small Return the car if you don’t like it.
  .col-sm-4
    %h2
      %span= image_tag('location.svg')
    %p Reduced risk
    %p
      %small #{Settings.app.name} inspects all cars listed to make sure there are no surprises.
  .col-sm-4
    %h2
      %span= image_tag('eye.svg')
    %p Total Transparency
    %p
      %small No upfront costs or hidden fees. We charge a simple 5% commission.

.row.text-center
  .col-sm-4
    %h2
      %span= image_tag('steer.svg')
    %p Check out the car in person!
    %p
      %small Just give us the 4-digit code of the car you are interested in and we can tell you the location of the car to see in person.
  .col-sm-4
    %h2
      %span= image_tag('checklist.svg')
    %p The easiest buying process
    %p
      %small Don’t haggle with salesman or go through complicated paperwork. Let #{Settings.app.name} handle both from the convenience of your own home.
  .col-sm-4
    %h2
      %span= image_tag('lock.svg')
    %p Secure Transaction
    %p
      %small
        #{Settings.app.name} will send you a copy of the title to show title is in hand from the private party buyer.
        %br
        We act as a secure escrow service.