.row.text-center
  .col-sm-4
    %h2
      %span= image_tag('location.svg')
    %p We Come To You
    %p
      %small Any time, any place to get started.
  .col-sm-4
    %h2
      %span= image_tag('checklist.svg')
    %p No Grunt Work
    %p
      %small This means we handle every aspect of the buying and selling process for you.
  .col-sm-4
    %h2
      %span= image_tag('steer.svg')
    %p Win-win situation
    %p
      %small If your car does not sell in 31 days or less, #{Settings.app.name} will buy your car from you!

.row.text-center
  .col-sm-4
    %h2
      %span= image_tag('eye.svg')
    %p Total Transparency
    %p
      %small
        No hidden costs or fees.
        %br
        #{Settings.app.name} charges a simple 5% commission of the sale price and we only collect once the car sells.
  .col-sm-4
    %h2
      %span= image_tag('money.svg')
    %p No upfront risks or obligations
    %p
      %small If you don’t feel good about the process, just let us know and you can walk.
  .col-sm-4
    %h2
      %span= image_tag('lock.svg')
    %p Secure Transaction
    %p
      %small
        #{Settings.app.name} does not transfer the title until we collect the funds from the buyer. We act as a secure escrow service.