- provide(:title, 'Home')

.jumbotron.black-bg#home1
  .container.text-center#header-threshold
    %h1 AT YOUR SERVICE.
    %p #{Settings.app.name} takes care of all the stress and work that comes with selling your car.
    .col-sm-4.col-sm-offset-4
      = form_tag search_vehicles_path, role: 'form', method: :get do
        .input-group
          = label_tag :search, nil, class: 'sr-only'
          = text_field_tag :search, nil, placeholder: 'RVR: _ _ _ _ _ _', class: 'form-control'
          %span.input-group-btn
            = submit_tag 'Check', class: 'btn btn-purple btn-wide'

.container
  .text-center
    %h2
      RideSnap
      %span.purple Values
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    = render 'shared/story_icons'

  %hr.arrow

  %div
    %h2.text-center
      RideSnap
      %span.purple Services
    %p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .row
      .col-sm-6
        %h3.text-center BUY
        %ol
          %li Discover the details of a car you are looking at by entering the RVR number. Or go straight to the marketplace.
          %li Scan reports
          %li Message us for more details or check out the car in person
          %li Go through the payment and title transfer process
          %li Give us the location to deliver your new ride!
        %br
        %br
        %br
        .text-center
          = link_to 'START BROWSING', vehicles_path, class: 'btn btn-purple'
      .col-sm-6
        %h3.text-center SELL
        %ol
          %li Tell RideSnap about the car you want to sell!
          %li Schedule a time and place for us to see in
          %li son and conduct your free RVR inspection.
          %li Put your RVR sticker on your window and keep
          %li ving your car while we find your buyers.
          %li Stay updated along the way.
          %li Get paid.
        %br
        %br
        .text-center
          = link_to 'START SELLING', '#', class: 'btn btn-success'

  %hr.arrow

  .text-center
    %p
      %small
        %b
          NOW AVAILABLE IN
        %br
        %s &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    %h2 The San Francisco Bay Area.
    %p
      COMING SOON:
      %b CHICAGO
    %p
      %small Don't see your city? Let us know where you'd like to see #{Settings.app.name} next!
    .col-sm-4.col-sm-offset-4
      = form_tag cities_path, role: 'form' do
        .input-group
          = label_tag :zip_code, nil, class: 'sr-only'
          = text_field_tag :zip_code, nil, placeholder: 'Zip Code', class: 'form-control'
          %span.input-group-btn
            = submit_tag 'Submit', class: 'btn btn-default'


- if controller_name == 'password_resets' && action_name == 'edit'
  = render 'password_resets/edit'
  :coffee
    $('#password-modal').modal 'show'