- provide(:title, 'Home')

.jumbotron.black-bg#home1
  .container.text-center#header-threshold
    %h1 AT YOUR SERVICE.
    %p #{Settings.app.name} takes care of all the stress and work that comes with selling your car.
    = link_to 'Get Started', start_path, class: 'btn btn-purple btn-wide btn-lg'

.jumbotron.white-bg.time-money-tabs
  .container.text-center
    %h2.purple Sell your car with #{Settings.app.name}.
    %p So you don’t waste:
    %ul.nav#time-money{role: 'tablist'}
      %li.active
        = link_to 'Time', '#time', role: 'tab', data: {toggle: 'tab'}, class: 'btn btn-purple btn-circle'
      %li
        = link_to 'Money', '#money', role: 'tab', data: {toggle: 'tab'}, class: 'btn btn-purple btn-circle'
    %br
    %br
    .tab-content
      .tab-pane.fade.in.active#time
        .col-sm-10.col-sm-offset-1
          %p.purple We make it easy so you can spend your time somewhere else.
        .row
          .col-sm-4.col-xs-12
            %h2
              %span= image_tag('location.svg')
            %p.purple We Come To You
            %p
              %small Any time, any place to get started.
          .col-sm-4.col-xs-12
            %h2
              %span= image_tag('checklist.svg')
            %p.purple No Grunt Work
            %p
              %small No more posting ads, finding buyers, filtering through emails and handling paperwork.
          .col-sm-4.col-xs-12
            %h2
              %span= image_tag('steer.svg')
            %p.purple Test Drives
            %p
              %small We take care of scheduling and meeting with buyers for test drives.
      .tab-pane.fade#money
        .col-sm-10.col-sm-offset-1
          %p.purple We want to help you get the highest value for your car by avoiding the dealership.
        .row
          .col-sm-4.col-xs-12
            %h2
              %span= image_tag('eye.svg')
            %p.purple Total Transparency
            %p
              %small No upfront costs or hidden fees. We charge a simple 5% commission.
          .col-sm-4.col-xs-12
            %h2
              %span= image_tag('money.svg')
            %p.purple The More, the Better
            %p
              %small The more your car sells for, the more money there is for both of us!
          .col-sm-4.col-xs-12
            %h2
              %span= image_tag('lock.svg')
            %p.purple Secure Transaction
            %p
              %small We pay you, not the buyer. So don’t worry about getting counterfeit money or bad cashier checks.

.jumbotron.purple-bg#home2
  .container.text-center
    %p
      %small
        %b
          NOW AVAILABLE IN
        %br
        %s &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    %h2 The San Francisco Bay Area.
    %p
      COMING SOON:
      %b CHICAGO
    %p
      %small Don't see your city? Let us know where you'd like to see #{Settings.app.name} next!
    .col-sm-4.col-sm-offset-4
      = form_tag cities_path do
        .input-group
          = label_tag :zip_code, nil, class: 'sr-only'
          = text_field_tag :zip_code, nil, placeholder: 'Zip Code', class: 'form-control'
          %span.input-group-btn
            = submit_tag 'Submit', class: 'btn btn-default'

.jumbotron.whitesmoke-bg#how-link
  .container.text-center
    = render 'pages/how_it_works'

- if action_name == 'how'
  :coffee
    $('body').animate(
      scrollTop: $('#how-link').offset().top - 80
    , 'slow')

- if controller_name == 'password_resets' && action_name == 'edit'
  = render 'password_resets/edit'
  :coffee
    $('#password-modal').modal 'show'