- provide(:title, 'Home')

.jumbotron.black-bg#home1
  .container.text-center#header-threshold
    %h1 DATA DRIVEN RIDES.
    %p #{Settings.app.name} brings transparency and power to vehicles by utilizing connected car technology and real time telematics to develop a new standard in vehicle health reports.
    .col-sm-4.col-sm-offset-4
      = render 'shared/rvr'

%hr.arrow

.text-center
  %h2 We help tell a vehicle's story to the businesses that care about that story.
  %br
  %p
    %small
      %b
        NOW AVAILABLE IN
      %br
      %s &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  %h2 The San Francisco Bay Area.
  %p
    COMING SOON:
    %b= @next_city.try(:city)
  %p
    %small Don't see your city? Let us know where you'd like to see #{Settings.app.name} next!
  .col-sm-4.col-sm-offset-4
    = form_tag cities_path, role: 'form' do
      .input-group
        = label_tag :zip_code, nil, class: 'sr-only'
        = text_field_tag :zip_code, nil, placeholder: 'Zip Code', class: 'form-control'
        %span.input-group-btn
          = submit_tag 'Submit', class: 'btn btn-default'


- if controller_name == 'password_resets' && action_name == 'edit'
  = render 'password_resets/edit'
  :coffee
    $('#password-modal').modal 'show'