<% provide(:title, 'Start') %>
<div class="jumbotron black-bg" id="start1">
  <div class="container text-center" id="header-threshold">
    <h1>GET STARTED.</h1>
    <p>Get a quote. Schedule an inspection. Simple.</p>
  </div>
</div>
<div class="jumbotron white-bg">
  <div class="container text-center">
    <h2 class="purple">Tell us about your ride.</h2>
    <p>Get an estimate of what your car listing price could be.</p>
    <br/>
    <br/>
    <%= form_for Vehicle.new, html: {class: 'form-inline', id: 'vehicle-query', role: 'form'} do |f| %>
      <div class="form-group">
        <%= f.label :make, nil, class: 'sr-only' %>
        <%= f.select :make, options_for_select(@makes), {include_blank: 'Make'}, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :model, nil, class: 'sr-only' %>
        <%= f.select :model, options_for_select([]), {include_blank: 'Model'}, class: 'form-control', disabled: true %>
      </div>
      <div class="form-group">
        <%= f.label :year, nil, class: 'sr-only' %>
        <%= f.select :year, options_for_select([]), {include_blank: 'Year'}, class: 'form-control', disabled: true %>
      </div>
      <div class="form-group">
        <%= f.label :style, nil, class: 'sr-only' %>
        <%= f.select :style, options_for_select([]), {include_blank: 'Style'}, class: 'form-control', disabled: true %>
      </div>
      <%= f.hidden_field :description %>
      <br/>
      <div class="form-group">
        <%= f.label :zip_code, nil, class: 'sr-only' %>
        <div class="input-group">
          <%= f.text_field :zip_code, placeholder: 'Zip', class: 'form-control' %>
          <span class="input-group-btn">
            <%= content_tag :a, 'Get a Quote', class: 'btn btn-purple', id: 'get-a-quote', disabled: true %>
          </span>
        </div>
      </div>
    <h2 class="purple">Results.</h2>
    <br/>
    <br/>
    <div class="row" id="results-circles">
      <div class="col-sm-4 col-xs-12">
        <div class="circle trade-in-value">
          <%= embedded_svg('circle.svg', class: 'grey') %>
          <div class="words">
            <h4>Trade in</h4>
            <h2 id="trade-in-value">$0</h2>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="circle ridesnap-value">
          <%= embedded_svg('circle.svg', class: 'purple') %>
          <div class="words">
            <h4>RideSnap</h4>
            <h2 id="ridesnap-value">$0</h2>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="circle buy-it-now-value">
          <%= embedded_svg('circle.svg', class: 'black') %>
          <div class="words">
            <h4>Buy it Now</h4>
            <h2 id="buy-it-now-value">$0</h2>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <div class="form-group">
      <%= f.submit 'Schedule with RideSnap', class: 'btn btn-purple btn-wide btn-lg', id: 'schedule-button', disabled: true %>
    </div>
    <% end %>
    <div class="form-group">
      <%= link_to 'New Quote', start_path, class: 'btn btn-default btn-wide' %>
    </div>
  </div>
</div>
