- provide(:title, 'Start')

.jumbotron.black-bg#start1
  .container.text-center
    %h1 GET STARTED.
    %p Get a quote. Schedule an inspection. Simple.

.jumbotron.white-bg
  .container.text-center
    %ul#vehicle-query-nav.nav.nav-tabs.hidden{role: 'tablist'}
      %li.active
        = link_to '', '#query', role: 'tab', data: {toggle: 'tab'}
      %li
        = link_to '', '#query-result', role: 'tab', data: {toggle: 'tab'}
      %li
        = link_to '', '#schedule', role: 'tab', data: {toggle: 'tab'}
      %li
        = link_to '', '#schedule-confirm', role: 'tab', data: {toggle: 'tab'}
    .tab-content#vehicle-query
      .tab-pane.fade.in.active#query
        = render 'vehicles/query'
      .tab-pane.fade#query-result
        = render 'vehicles/query_result'
      .tab-pane.fade#schedule
        = render 'vehicles/schedule'
      .tab-pane.fade#schedule-confirm
        = render 'vehicles/schedule_confirm'