.modal.fade#buyer-details-modal{tabindex: '-1', role: 'dialog', 'aria-labelledby' => 'Buyer Details', 'aria-hidden' => 'true'}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        = button_tag '&times'.html_safe, class: 'close', 'data-dismiss' => "modal", 'aria-label' => "Close"
        = image_tag 'black_logo.png', class: 'modal-logo'
        %h4.modal-title Buying with #{Settings.app.name}
      .modal-body
        .text-center
          %h1
            %b
              RVR:
              %span.text-muted EX1234
              = button_tag 'CHECK', class: 'btn btn-purple btn-lg'
        %p The process of buying used cars on Craigslist and other sites is flawed.
        %p You should know much more about a car before meeting random people and going out for a test drive!
        %br
        %p
          Now with #{Settings.app.name}’s marketplace or by entering your
          %span.purple #{Settings.app.name} Vehicle Report
          (RVR), you can find all the details
          %span.purple before
          making any commitments.

        .row
          .col-sm-6
            = image_tag 'blank.jpg', class: 'img-responsive'
            We believe in complete transparency, so the #{Settings.app.name} Vehicle Report is our way to save you time and tell you everything about the vehicle. RVR is conducted by trained mechanics.
          .col-sm-6
            = image_tag 'blank.jpg', class: 'img-responsive'
            RVR has four components:
            %ul
              %li Mechanical – 150 point inspection (engine, leaks, structure, etc.)
              %li Exterior – scratches, dents, and door dings
              %li History – title status, ownership, and maintenance history
              %li Value – summary of vehicle's worth based on condition

        %hr.arrow

        .text-center
          %span= image_tag('checklist.svg')
          %br
          %br
          = button_tag 'DOWNLOAD REPORT', class: 'btn btn-success'
          %br
          %br
          = mail_to "info@#{request.host}", 'MESSAGE US', class: 'btn btn-success', target: '_blank'
          %br
          %br
          %p Interested? More questions? Just talk to us.

        %hr.arrow

        .text-center
          %span= image_tag('eye.svg')
          %br
          %br
          = button_tag 'CHECK OUT THIS CAR', class: 'btn btn-grey'
          %br
          %br
          %p Do you see a car you're interested in? Schedule a time to come see it in person!

        %hr.arrow

        .text-center
          %span= image_tag('money.svg')
          %br
          %br
          = button_tag 'BUY THIS CAR!', class: 'btn btn-purple'
          %br
          %br
          %p You can buy anything online, why not a car?
          %p
            Pay now with
            %b.text-success cash,
            %b.text-primary bank transfer,
            or
            %b.purple financing
            options.
          %br
          %p Payment and title transfer can be a huge mess.
          %p You have the money, but the seller has the title; who hands over what first? No one wants to get ripped off!
          %p #{Settings.app.name} safely facilitates the transfer between both parties like an escrow service.

        %hr.arrow

        .text-center
          %span= image_tag('steer.svg')
          %br
          %br
          %h3 Delivery
          %p Get your car delivered right to your door step.

        %hr.arrow

        .text-center
          %h1
            %b
              RVR:
              %span.text-muted EX1234
              = button_tag 'CHECK', class: 'btn btn-purple btn-lg'

        %hr

        %hr

        = render 'shared/story_icons_1'