%h2.purple Here's what we found.
%p
  %span#selected-year
  %span#selected-make
  %span#selected-model
  \-
  %span#selected-style
  = link_to 'Edit', '#query', role: 'tab', data: {toggle: 'tab'}
%br
%br
.row
  .col-sm-4.col-xs-12
    .circle.trade-in-value
      = embedded_svg('circle.svg', class: 'grey')
      .words
        %h4 Trade in
        %h2#trade-in-value
  .col-sm-4.col-xs-12
    .circle.ridesnap-value
      = embedded_svg('circle.svg', class: 'purple')
      .words
        %h4 RideSnap
        %h2#ridesnap-value
  .col-sm-4.col-xs-12
    .circle.buy-it-now-value
      = embedded_svg('circle.svg', class: 'black')
      .words
        %h4 Buy it Now
        %h2#buy-it-now-value
%br
%br
= link_to 'New Quote', start_path, class: 'btn btn-default btn-wide'
= link_to 'Schedule with RideSnap', '#schedule', role: 'tab', data: {toggle: 'tab'}, class: 'btn btn-purple btn-wide btn-lg'
