%h2.purple Tell us about your ride.
%p Get an estimate of what your car listing price could be.
%br
%br
= form_tag query_vehicles_path, method: :get, class: 'form-inline', id: 'vehicle-query', role: 'form', remote: true do
  .form-group
    = label_tag :make, nil, class: 'sr-only'
    = select_tag :make, options_for_select(@makes), prompt: 'Make', class: 'form-control'
  .form-group
    = label_tag :model, nil, class: 'sr-only'
    = select_tag :model, nil, prompt: 'Model', class: 'form-control', disabled: true
  .form-group
    = label_tag :year, nil, class: 'sr-only'
    = select_tag :year, nil, prompt: 'Year', class: 'form-control', disabled: true
  .form-group
    = label_tag :style, nil, class: 'sr-only'
    = select_tag :style, nil, prompt: 'Style', class: 'form-control', disabled: true
.form-group
  = label_tag :zip_code, nil, class: 'sr-only'
  .col-xs-12.col-sm-4.col-sm-offset-4
    .input-group
      = text_field_tag :zip_code, nil, placeholder: 'Zip', class: 'form-control'
      %span.input-group-btn
        = link_to 'Get a Quote', '#query-result', role: 'tab', data: {toggle: 'tab'}, class: 'btn btn-purple', id: 'get-a-quote', disabled: true