.list-group-item.vehicle{data: {object: vehicle.id}}
  .row.market-list
    .col-sm-9.col-md-8{style: 'width:100%; height:100%'}
      .owl-carousel-index-page
        - vehicle.images.each do |img|
          = image_tag img.try(:image_url), class: 'img-responsive'
      .visible-xs-block.mini-words
        .pull-left.text-left
          %p
            = link_to vehicle do
              = vehicle.year
              = vehicle.make(pretty: true)
              = vehicle.model(pretty: true)
            %br
            mileage: #{vehicle.mileage || 'n/a'}
        .pull-right
          %h2= number_to_currency(vehicle.list_price, precision: 0)
    .hidden-xs.col-sm-3.col-md-4.text-left
      %p
        = link_to vehicle do
          = vehicle.year
          = vehicle.make(pretty: true)
          = vehicle.model(pretty: true)
      %p
        %small price: #{number_to_currency(vehicle.list_price, precision: 0)}
      %p
        %small mileage: #{number_with_delimiter(vehicle.mileage) || 'n/a'}
      %p
        %small location: #{vehicle.city || 'n/a'}
.actions{data: {object: vehicle.id}}
  .pull-right.nope nope
  .pull-left.yup yup