= link_to vehicle, class: 'list-group-item vehicle', data: {object: vehicle.id} do
  .row.market-list
    .col-xs-12.col-sm-3.col-md-4
      = image_tag vehicle.images[0].try(:url), class: 'img-responsive'
      .visible-xs-block.mini-words
        .pull-left.text-left
          %p
            = vehicle.year
            = vehicle.make(pretty: true)
            = vehicle.model(pretty: true)
            %br
            mileage: #{vehicle.mileage || 'n/a'}
        .pull-right
          %h2= number_to_currency(vehicle.list_price, precision: 0)
    .hidden-xs.col-md-4
      = image_tag vehicle.images[1].try(:url), class: 'img-responsive'
    .hidden-xs.hidden-sm.col-md-4
      = image_tag vehicle.images[2].try(:url), class: 'img-responsive'
    .hidden-xs.col-sm-3.col-md-4.text-left
      %p
        = vehicle.year
        = vehicle.make(pretty: true)
        = vehicle.model(pretty: true)
      %p
        %small price: #{number_to_currency(vehicle.list_price, precision: 0)}
      %p
        %small mileage: #{vehicle.mileage || 'n/a'}
      %p
        %small location: #{vehicle.city || 'n/a'}
.actions{data: {object: vehicle.id}}
  .pull-right.nope nope
  .pull-left.yup yup