- provide(:title, 'Buy')

.container{style: 'padding-top:120px'}
  / .form-big
  /   =render 'shared/rvr_custom'

  %p Because all cars are sold “AS-IS” from the owners, we want to try  and make the buying process as transparent as possible.

  %p We have independent and ASE certified mechanics do basic inspections to reveal any obvious or unsafe mechanical issues. You can view these summarized reports by searching through our RVR. We also use the inspection to help us determine the final price to ensure everyone is getting a fair deal.

  %p RideSnap still recommends buyers to bring their own mechanics before purchasing.

  .row
    .col-md-6
      = image_tag 'example_rvr_blocks.png', class: 'img-responsive', title: 'RVR Summary'
      %br
      %p Report includes: Mechanical, cosmetic damages, car history, and value summary
      %ul.bullet
        %li Mechanical – 150 point inspection report
        %li Cosmetic damages – points out all of the dents, scratches, and defects
        %li Car History – Carfax report
        %li Value Summary – KBB report
    .col-md-6
      = image_tag 'report_preview.png', class: 'img-responsive', title: 'Sample RVR'

  %hr.arrow

  .text-center
    %h2 Find the car
    %br
    %p Find a car you like from the marketplace or type in the RVR code from a car you saw to find out the details.
    %br
    %br
    .row
      .col-xs-12.col-md-6.col-space
        = image_tag 'rvr-car-1.jpg', class: 'img-responsive align-center', title: 'RVR car'
      .col-xs-12.col-md-6.col-space
        = image_tag 'rvr-car-2.jpg', class: 'img-responsive align-center', title: 'RVR car'
  %hr.arrow

  .text-center
    %h2 Check out the car
    %br
    %p Schedule a time to check out the car in person.

  %hr.arrow

  .text-center
    %h2 Buy the car
    %br
    %p Contact RideSnap to initiate the transaction and title transfer.
    %br
    %p You can buy anything online, why not a car?
    %br
    %p
      Pay now with
      %ul.bullet.align-middle
        %li Cash
        %li Bank transfer
        %li Financing options
    %br
    %p Payment and title transfer can be a huge mess.
    %p You have the money, but the seller has the title; who hands over what first? No one wants to get ripped off!
    %p #{Settings.app.name} safely facilitates the transfer between both parties like an escrow service.

  %hr.arrow

  .text-center
    %span= image_tag 'steer.svg', class: 'img-svg'
    %br
    %h3 Delivery
    %p Get your car delivered right to your door step.

  %hr.arrow

  / .form-big
  /   =render 'shared/rvr_custom'

  / %hr

  = render 'shared/story_icons_2'