- provide(:title, 'Market Place')

.jumbotron.black-bg#about1
  .container.text-center#header-threshold
    %h1 Browse the Marketplace and find out more details from our RVR.
    %p= button_tag 'learn More', class: 'btn btn-purple btn-wide', data: {target: '#buyer-details-modal', toggle: 'modal'}

.jumbotron.white-bg.row
  .container.text-center
    = smart_listing_controls_for :vehicles, class: 'form-inline', role: 'form' do
      .form-group
        = select_tag :make, options_for_select(@makes, params[:make]), prompt: 'All Makes', class: 'form-control'
      .form-group
        = select_tag :year, options_for_select(@years, params[:year]), prompt: 'All Years', class: 'form-control'
      .form-group
        = text_field_tag :min_price, params[:min_price], placeholder: 'Min Price', class: 'form-control w100 br5'
        = text_field_tag :max_price, params[:max_price], placeholder: 'Max Price', class: 'form-control w100 br5'
      .form-group
        = select_tag :closest_color, options_for_select(@colors, params[:closest_color]), prompt: 'All Colors', class: 'form-control'
      / .form-group
      /   = select_tag :types, options_for_select(@types), prompt: 'Types', class: 'form-control'
      .form-group
        = select_tag :mileage, options_for_select(@miles, params[:mileage]), prompt: 'All Mileage', class: 'form-control'
      / %br
      / %br
      / = submit_tag 'filter', class: 'btn btn-purple btn-wide', name: nil

    %br
    %br
    .list-group.market-place
      = smart_listing_render :vehicles

= render 'vehicles/buy'

