- provide(:title, 'Confirmation')

.jumbotron.black-bg#confirm1
  .container.text-center#header-threshold
    %h1 Thanks!
    %p We'll be in touch.

.jumbotron.white-bg
  .container.text-center
    %h2.purple= "Thank you, #{@user.name}!"
    %p An appointment confirmation has been sent to your email. We look forward to meeting you!
    %br
    %br
    %b= @user.name
    %p= number_to_phone(@user.phone, area_code: true)
    %p= @user.email
    %br
    %br
    %b INSPECTION APPOINTMENT FOR:
    %p= @ride.datetime.to_formatted_s :long_ordinal
    %p= @ride.address
    %p= "#{@location[:city]}, #{@location[:state]} #{@location[:zip_code]}"
    %br
    %br
    / %b VEHICLE INFORMATION
    / %p= "#{@vehicle.year} #{@vehicle.make} #{@vehicle.model} - #{@vehicle.style}"