- provide(:title, "#{@vehicle.make(pretty: true)} #{@vehicle.model(pretty: true)}")

.container{style: 'padding-top:100px'}

  .flexslider
    %ul.slides
      - (1..8).each do |i|
        %li
          %img{:src => "/assets/slide#{i}.jpg"}
    .v-desc.clearfix
      .pull-left
        .big-detail
          2006 BMW 535i
        .small-detail
          XXXX Miles
      .pull-right.text-right
        .big-detail
          $ XXXXX
        .small-detail
          $ XXX/month

  - if admin?
    %br
    .text-center
      = s3_uploader_form post: vehicle_images_url(@vehicle), as: "image[url]", vin: @vehicle.vin do
        %span.btn.btn-purple.btn-file
          Add Images
          = file_field_tag :file, multiple: true
      %script{id: 'template-upload', type: 'text/x-tmpl'}
        .upload
          {%=o.name%}
          .progress
            .bar{style: 'width: 0%'}

  .title-grey
    %h1.text-center
      RVR
      = @vehicle.rvr.upcase
      - if admin? && @vehicle.external_ad.present?
        = link_to '', @vehicle.external_ad, target: '_blank', class: 'external-link', title: 'External Ad'
    %br

  %div{role: "tabpanel"}
    %ul.nav.nav-tabs{role:"tablist"}
      %li.active{role: "presentation"}
        = link_to 'General Information', '#general', 'aria-controls' => 'general', role: 'tab',  'data-toggle' => 'tab'
      %li{role: "presentation"}
        = link_to 'Performance', '#performance', 'aria-controls' => 'performance', role: 'tab',  'data-toggle' => 'tab'
      %li{role: "presentation"}
        = link_to 'Maintenance', '#maintenance', 'aria-controls' => 'maintenance', role: 'tab',  'data-toggle' => 'tab'
      %li{role: "presentation"}
        = link_to 'Damage Report', '#damage', 'aria-controls' => 'damage', role: 'tab',  'data-toggle' => 'tab'
      %li{role: "presentation"}
        = link_to 'Current Status', '#current', 'aria-controls' => 'current', role: 'tab',  'data-toggle' => 'tab'
      %li{role: "presentation"}
        = link_to 'Sale Value', '#value', 'aria-controls' => 'value', role: 'tab',  'data-toggle' => 'tab'
    .tab-content
      .tab-pane.active.fade.in#general
        = render 'tab_general'
      .tab-pane.fade#performance
        = render 'tab_performance'
      .tab-pane.fade#maintenance
        = render 'tab_maintenance'
      .tab-pane.fade#damage
        = render 'tab_damage'
      .tab-pane.fade#current
        = render 'tab_current'
      .tab-pane.fade#value
        = render 'tab_value'

  - if @rides.any?
    %hr.arrow

    %h2.text-center Rides
    = render @rides

  %hr.arrow

  .text-center.form-inline
    .btn-inspection
      .form-group
        = button_tag 'DOWNLOAD REPORT', class: 'btn btn-success', data: {toggle: 'modal', target: '#report-modal-all'}
      .form-group
        = link_to 'CHECK OUT THIS CAR', new_ride_path(vehicle_vin: @vehicle.vin), class: 'btn btn-grey'
      .form-group
        = link_to 'BUY THIS CAR!', new_ride_path(vehicle_vin: @vehicle.vin), class: 'btn btn-purple'

  %hr

  = render 'shared/story_icons_2'

= render 'vehicles/report_mech'
= render 'vehicles/report_cosm'
= render 'vehicles/report_value'
= render 'vehicles/report'
= render 'vehicles/report_trips'
= render 'shared/coming_soon'