- provide(:title, "#{@vehicle.make(pretty: true)} #{@vehicle.model(pretty: true)}")

.jumbotron.black-bg#start1
  .container.text-center#header-threshold
    %h1
      = @vehicle.year
      = @vehicle.make(pretty: true)
      = @vehicle.model(pretty: true)

.jumbotron.small.white-bg
  .container.text-center
    %h2.purple
      Let
      = Settings.app.name
      do the work for you.
    %p.col-md-6.col-md-offset-3 We inspect, find your buyers, schedule test drives, and negotiate so you can worry about other things.

.jumbotron.whitesmoke-bg#how-link
  .container.text-center
    %p
      %small
        %b GET STARTED
        %br
        %s &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    %h2.purple Estimated Value.
    %p
      = @vehicle.year
      = @vehicle.make(pretty: true)
      = @vehicle.model(pretty: true)
      = @vehicle.description
    %p= @vehicle.known_attr.join(' &nbsp;|&nbsp; ').html_safe
    %p= content_tag :a, 'Edit vehicle options to refine your estimate', class: 'purple pointer', data: {toggle: 'collapse', target: '#vehicle_options'}
    .row
      .col-sm-4.col-sm-offset-4
        .alert.alert-success#vehicle-alert{role: 'alert'} Vehicle saved!

    = render 'vehicles/update'

    %br
    %br
    = render 'vehicles/price_circles'

    %hr

    %p Your Listing Detail

    #vehicle-images.carousel.slide
      / Indicators
      %ol.carousel-indicators
        - 1.upto(@vehicle_images.size) do |i|
          %li{class: ('active' if i == 1),data: {'slide-to' => i-1, target: '#vehicle-images'}}
      / Wrapper for slides
      .carousel-inner
        - @vehicle_images.each_with_index do |img, i|
          .item{class: ('active' if i == 0)}
            = image_tag img
            .carousel-caption= nil
      / Controls
      %a.left.carousel-control{href: '#vehicle-images', role: 'button', data: {slide: 'prev'}}
        %span.glyphicon.glyphicon-chevron-left
      %a.right.carousel-control{href: '#vehicle-images', role: 'button', data: {slide: 'next'}}
        %span.glyphicon.glyphicon-chevron-right
    %br
    / = box_uploader_form post: vehicle_images_url(@vehicle), as: "image[image_url]" do
    /   %span.btn.btn-purple.btn-file
    /     Add Images
    /     = file_field_tag :file, multiple: true
    %script{id: 'template-upload', type: 'text/x-tmpl'}
      .upload
        {%=o.name%}
        .progress
          .bar{style: 'width: 0%'}

.jumbotron.white-bg
  .container.text-center
    = render 'pages/how_it_works'

.jumbotron.whitesmoke-bg#how-link
  .container.text-center
    %p
      %small
        %b NEXT STEP
        %br
        %s &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    %h2.purple Schedule an Inspection.
    %p
      Your car condition matters. Schedule an appointment so
      = Settings.app.name
      can inspect your car and photograph it. The report helps us narrow the listing price and it gives buyers peace of mind.
    .well
      %h3 The inspection report includes:
      %p= @inspection_report.join(' &nbsp;&bull;&nbsp; ').html_safe
    =link_to "Schedule with #{Settings.app.name}", new_ride_path(vehicle_id: @vehicle.id), class: 'btn btn-purple btn-lg'

- if @rides.any?
  .jumbotron.white-bg
    .container
      %p.text-center
        %small
          %b SCHEDULED RIDES
          %br
          %s &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      .col-md-6.col-md-offset-3.col-sm-12
        %ul.list-group
          = render @rides

:coffee
  trade_in = #{@vehicle.preliminary_value['trade_in'].to_i}
  buy_now = #{@vehicle.preliminary_value['snap_up'].to_i}
  ride_snap = #{@vehicle.preliminary_value['ride_snap'].to_i}
  $('#trade-in-value').text '$' + trade_in
  $('#ridesnap-value').text '$' + ride_snap
  max = Math.max(trade_in, ride_snap, buy_now)
  $('.circle.trade-in-value').width Math.round(trade_in/max*100) + '%'
  $('.circle.ridesnap-value').width Math.round(ride_snap/max*100) + '%'
  $('.circle.buy-it-now-value').width Math.round(buy_now/max*100) + '%'