- provide(:title, "#{@vehicle.make(pretty: true)} #{@vehicle.model(pretty: true)}")

.container{style: 'padding-top:90px'}
  .owl-carousel
    - @vehicle.images.each do |img|
      = image_tag img.try(:url), class: 'img-responsive three-four'

  - if admin?
    %br
    .text-center
      = s3_uploader_form post: vehicle_images_url(@vehicle), as: "image[url]", vin: @vehicle.vin do
        %span.btn.btn-purple.btn-file
          Add Images
          = file_field_tag :file, multiple: true
      %script{id: 'template-upload', type: 'text/x-tmpl'}
        .upload
          {%=o.name%}
          .progress
            .bar{style: 'width: 0%'}
    %br

.jumbotron
  .container
    %h1.text-center RVR BM3485
    .row
      .col-xs-12.col-sm-6.hoverable
        .overlay.text-center
          %p Mechanics Report
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            %br
            = link_to 'click to view', '#'
        = image_tag 'blank.jpg', class: 'img-responsive'
      .col-xs-12.col-sm-6.hoverable
        .overlay.text-center
          %p Exteiror Report
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            %br
            = link_to 'click to view', '#'
        = image_tag 'blank.jpg', class: 'img-responsive'
    .row
      .col-xs-12.col-sm-6.hoverable
        .overlay.text-center
          %p CarFax Report
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            %br
            = link_to 'click to view', '#'
        = image_tag 'blank.jpg', class: 'img-responsive'
      .col-xs-12.col-sm-6.hoverable
        .overlay.text-center
          %p Value Summary
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            %br
            = link_to 'click to view', '#'
        = image_tag 'blank.jpg', class: 'img-responsive'

    %br
    %br
    .row
      .col-md-6.col-md-offset-3
        .pull-left
          %p Model: #{@vehicle.year} #{@vehicle.make(pretty: true)} #{@vehicle.model(pretty: true)}
          %p MPG: Up to 21 city, 29 highway
          %p Body style: Sedan
          %p Horsepower: 215 HP
          %p Torque: 185 lb-ft
          %p Engine size: 3.0L
          %p Trim: #{@vehicle.description}
        .pull-right
          %span.center-block.clearfix
            %span.glyphicon.glyphicon-star{'aria-hidden' => true}
            %br
            %small
              No Accidents
          %span.center-block.clearfix
            %span.glyphicon.glyphicon-star{'aria-hidden' => true}
            %br
            %small
              Title in Hand
          %br
          %span.center-block.clearfix
            %span.glyphicon.glyphicon-star{'aria-hidden' => true}
            %br
            %small
              Single Owner
          %span.center-block.clearfix
            %span.glyphicon.glyphicon-star{'aria-hidden' => true}
            %br
            %small
              Bluetooth
          %br
          %span.center-block.clearfix
            %span.glyphicon.glyphicon-star{'aria-hidden' => true}
            %br
            %small
              Radio
          %span.center-block.clearfix
            %span.glyphicon.glyphicon-star{'aria-hidden' => true}
            %br
            %small
              Sunroof
          %br
          %span.center-block.clearfix
            %span.glyphicon.glyphicon-star{'aria-hidden' => true}
            %br
            %small
              Navigation

    %hr
    %br
    %br
    %br
    .text-center
      %p
        Mechanical Inspection -
        %b.text-success EXCELLENT
      %br
      = button_tag 'DOWNLOAD REPORT', class: 'btn btn-success'
      = button_tag 'CHECK OUT THIS CAR', class: 'btn btn-grey'
      = button_tag 'BUY THIS CAR!', class: 'btn btn-purple'
    %br
    %br
    %br
    %hr

    .row.text-center
      .col-sm-4.col-xs-12
        %h2
          %span= image_tag('money.svg')
        %p 5-day money back guarantee
        %p
          %small Return the car if you don’t like it.
      .col-sm-4.col-xs-12
        %h2
          %span= image_tag('location.svg')
        %p Reduced risk
        %p
          %small #{Settings.app.name} inspects all cars listed to make sure there are no surprises.
      .col-sm-4.col-xs-12
        %h2
          %span= image_tag('eye.svg')
        %p Total Transparency
        %p
          %small No upfront costs or hidden fees. We charge a simple 5% commission.

    .row.text-center
      .col-sm-4.col-xs-12
        %h2
          %span= image_tag('steer.svg')
        %p Check out the car in person!
        %p
          %small Just give us the 4-digit code of the car you are interested in and we can tell you the location of the car to see in person.
      .col-sm-4.col-xs-12
        %h2
          %span= image_tag('checklist.svg')
        %p The easiest buying process
        %p
          %small Don’t haggle with salesman or go through complicated paperwork. Let #{Settings.app.name} handle both from the convenience of your own home.
      .col-sm-4.col-xs-12
        %h2
          %span= image_tag('lock.svg')
        %p Secure Transaction
        %p
          %small
            #{Settings.app.name} will send you a copy of the title to show title is in hand from the private party buyer.
            %br
            We act as a secure escrow service.















