- provide(:title, "#{@vehicle.make(pretty: true)} #{@vehicle.model(pretty: true)}")

.container{style: 'padding-top:100px'}

  .flexslider
    %ul.slides
      - (1..8).each do |i|
        %li
          %img{:src => "/assets/slide#{i}.jpg"}
    .v-desc.clearfix
      .pull-left
        .big-detail
          2006 BMW 535i
        .small-detail
          XXXX Miles
      .pull-right.text-right
        .big-detail
          $ XXXXX
        .small-detail
          $ XXX/month

  - if admin?
    %br
    .text-center
      = s3_uploader_form post: vehicle_images_url(@vehicle), as: "image[url]", vin: @vehicle.vin do
        %span.btn.btn-purple.btn-file
          Add Images
          = file_field_tag :file, multiple: true
      %script{id: 'template-upload', type: 'text/x-tmpl'}
        .upload
          {%=o.name%}
          .progress
            .bar{style: 'width: 0%'}

  .title-grey
    %h1.text-center
      RVR
      = @vehicle.rvr.upcase
      - if admin? && @vehicle.external_ad.present?
        = link_to '', @vehicle.external_ad, target: '_blank', class: 'external-link', title: 'External Ad'
  .clearfix
    .col-xs-12.col-sm-6.hoverable
      .overlay.text-center
        %span= image_tag 'cogwheels.png', class: 'img-png'
        %h4 Mechanics Report
        %p
          150-point inspection (engine, tires, leaks, etc.)
          %br
          %br
          = link_to 'click to view', '#report-modal-mech', data: {toggle: 'modal'}
      = image_tag 'car.jpg', class: 'img-responsive'
    .col-xs-12.col-sm-6.hoverable
      .overlay.text-center
        %span= image_tag 'search.png', class: 'img-png'
        %h4 Exteiror and Interior
        %p
          Dents, dings, scratches, rust
          %br
          %br
          = link_to 'click to view', '#report-modal-cosm', data: {toggle: 'modal'}
      = image_tag 'wheel.jpg', class: 'img-responsive'
  .clearfix
    .col-xs-12.col-sm-6.hoverable
      .overlay.text-center
        %span= image_tag 'carfax.png', class: 'img-png'
        %h4 CarFax Report
        %p
          Title status, ownership, maintenance records
          %br
          %br
          = link_to 'click to view', '#coming-soon', data: {toggle: 'modal'}
      = image_tag 'engine_2.jpg', class: 'img-responsive'
    .col-xs-12.col-sm-6.hoverable
      .overlay.text-center
        %span= image_tag 'value.png', class: 'img-png'
        %h4 Value Summary
        %p
          Test driven by a Mechanic
          %br
          %br
          = link_to 'click to view', '#report-modal-sum', data: {toggle: 'modal'}
      = image_tag 'interior.jpg', class: 'img-responsive'

  %br
  %br
  %br
  .row
    .col-xs-6.col-xs-offset-3
      .row
        = render 'vehicles/highlights'

  - if @rides.any?
    %hr.arrow

    %h2.text-center Rides
    = render @rides

  %hr.arrow

  .text-center.form-inline
    .btn-inspection
      .form-group
        = button_tag 'DOWNLOAD REPORT', class: 'btn btn-success', data: {toggle: 'modal', target: '#report-modal-all'}
      .form-group
        = button_tag 'CHECK OUT THIS CAR', class: 'btn btn-grey'
      .form-group
        = link_to 'BUY THIS CAR!', new_ride_path(vehicle_vin: @vehicle.vin), class: 'btn btn-purple'

  %hr

  = render 'shared/story_icons_2'

= render 'vehicles/report_mech'
= render 'vehicles/report_cosm'
= render 'vehicles/report'
= render 'vehicles/report_summary'
= render 'shared/coming_soon'