- provide(:title, "#{@vehicle.make(pretty: true)} #{@vehicle.model(pretty: true)}")

.container{style: 'padding-top:90px'}
  .owl-carousel
    - if @vehicle.images.blank?
      .vehicle-image
        = image_tag 'blank.jpg', class: 'img-responsive three-four'
    - @vehicle.images.each do |img|
      .vehicle-image
        = image_tag img.try(:image_url), class: 'img-responsive three-four'
        - if admin?
          = link_to '', [@vehicle, img], method: :delete, data: { confirm: "You're sure you want to REMOVE this image from the vehicle?" }, class: 'glyphicon glyphicon-remove remove-image', title: 'Remove image', 'aria-label' => "Remove image"

  - if admin?
    %br
    .text-center
      = s3_uploader_form post: vehicle_images_url(@vehicle), as: "image[url]", vin: @vehicle.vin do
        %span.btn.btn-purple.btn-file
          Add Images
          = file_field_tag :file, multiple: true
      %script{id: 'template-upload', type: 'text/x-tmpl'}
        .upload
          {%=o.name%}
          .progress
            .bar{style: 'width: 0%'}

  %hr.arrow

  .text-center
    %h1
      RVR
      = @vehicle.rvr.upcase
      - if admin? && @vehicle.external_ad.present?
        = link_to '', @vehicle.external_ad, target: '_blank', class: 'external-link', title: 'External Ad'

  %div{role: "tabpanel"}
    %ul.nav.nav-tabs{role:"tablist"}
      %li.active{role: "presentation"}
        = link_to 'General Information', '#general', 'aria-controls' => 'general', role: 'tab',  'data-toggle' => 'tab'
      %li{role: "presentation"}
        = link_to 'Performance', '#performance', 'aria-controls' => 'performance', role: 'tab',  'data-toggle' => 'tab'
      %li{role: "presentation"}
        = link_to 'Maintenance', '#maintenance', 'aria-controls' => 'maintenance', role: 'tab',  'data-toggle' => 'tab'
      %li{role: "presentation"}
        = link_to 'Damage Report', '#damage', 'aria-controls' => 'damage', role: 'tab',  'data-toggle' => 'tab'
      %li{role: "presentation"}
        = link_to 'Current Status', '#current', 'aria-controls' => 'current', role: 'tab',  'data-toggle' => 'tab'
      %li{role: "presentation"}
        = link_to 'Sale Value', '#value', 'aria-controls' => 'value', role: 'tab',  'data-toggle' => 'tab'
    .tab-content
      .tab-pane.active.fade.in#general
        = render 'tab_general'
      .tab-pane.fade#performance
        = render 'tab_performance'
      .tab-pane.fade#maintenance
        = render 'tab_maintenance'
      .tab-pane.fade#damage
        = render 'tab_damage'
      .tab-pane.fade#current
        = render 'tab_current'
      .tab-pane.fade#value
        = render 'tab_value'

  %hr.arrow

  = render 'vehicles/highlights'

  - if @rides.any?
    %hr.arrow

    %h2.text-center Rides
    = render @rides

  %hr.arrow

  .text-center.form-inline
    .form-group
      = button_tag 'DOWNLOAD REPORT', class: 'btn btn-success', data: {toggle: 'modal', target: '#report-modal-all'}
    .form-group
      = link_to 'CHECK OUT THIS CAR', new_ride_path(vehicle_vin: @vehicle.vin), class: 'btn btn-grey'
    .form-group
      = button_tag 'BUY THIS CAR!', class: 'btn btn-purple'

  %hr

  = render 'shared/story_icons_1'

= render 'vehicles/report_mech'
= render 'vehicles/report_cosm'
= render 'vehicles/report_value'
= render 'vehicles/report'
= render 'vehicles/report_trips'
= render 'shared/coming_soon'