- provide(:title, 'Schedule')

.jumbotron.white-bg
  .container.text-center
    %h2.purple Schedule an inspection.
    %p Pick a time and place where we can personally inspect your car, and we will come to you!
    %br
    %br
    = form_tag Ride.new, class: 'form-inline', id: 'vehicle-inspection', role: 'form' do
      .form-group
        = label_tag :name, nil, class: 'sr-only'
        = text_field_tag :name, nil, placeholder: 'Full Name', class: 'form-control'
      .form-group
        = label_tag :phone, nil, class: 'sr-only'
        = text_field_tag :phone, nil, placeholder: 'Phone', class: 'form-control phone'
      .form-group
        = label_tag :email, nil, class: 'sr-only'
        = text_field_tag :email, nil, placeholder: 'Email', class: 'form-control'
      %br
      .form-group
        = label_tag :scheduled_at, nil, class: 'sr-only'
        = text_field_tag :scheduled_at, nil, placeholder: 'Date/Time', class: 'form-control', id: 'datetimepicker-schedule'
      .form-group
        = label_tag :address, nil, class: 'sr-only'
        = text_field_tag :address, nil, placeholder: 'Street', class: 'form-control'
      .form-group
        = label_tag :zip_code, nil, class: 'sr-only'
        = text_field_tag :zip_code, nil, placeholder: 'Zip', class: 'form-control'
      .form-group
        = hidden_field_tag :vehicle_id, @vehicle.id
      %br
      .form-group
        = submit_tag 'Schedule Inspection', class: 'btn btn-purple btn-wide'

:coffee
  $ ->
    $('#datetimepicker-schedule').datetimepicker()