- provide(:title, 'Confirmation')

.jumbotron.black-bg#confirm1
  .container.text-center#header-threshold
    %h1= @ride.scheduled_at > Date.current ? 'Scheduled Ride.' : 'Past Ride.'

.jumbotron.white-bg
  .container.text-center
    %h2.purple= "Thank you, #{@user.first_name}!"
    %p We look forward to meeting you!
    %br
    %br
    %b.purple= @user.name.upcase
    %p= number_to_phone(@user.phone, area_code: true)
    %p= @user.email
    %br
    %b.purple INSPECTION APPOINTMENT FOR:
    %p= @ride.scheduled_at.strftime("%B #{@ride.scheduled_at.day.ordinalize}, %Y @ %l:%M%P")
    %p
      %span= @ride.address
      %br
      %span= "#{@ride.city}, #{@ride.state} #{@ride.zip_code}"
    = button_tag 'Reschedule', class: 'btn btn-sm btn-purple'
    %br
    %br
    %b.purple VEHICLE INFORMATION
    %p
      = @vehicle.year
      = @vehicle.make(pretty: true)
      = @vehicle.model(pretty: true)
      \-
      = @vehicle.description