%footer.navbar.navbar-inverse{role: 'navigation'}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    = button_tag data: {target: '#bottom-collapse', toggle: 'collapse'}, class: 'navbar-toggle' do
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  / Collect the nav links, forms, and other content for toggling
  .collapse.navbar-collapse#bottom-collapse
    %ul.nav.navbar-nav.navbar-left.narrow
      - if signed_in?
        %li.dropdown.dropup
          %a.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown'}
            Account
            %span.caret
          %ul.dropdown-menu{role: 'menu'}
            %li= link_to 'Sign out', signout_path, method: 'delete'
            %li.divider
            %li= link_to 'Available Locations', cities_path if admin?
            %li= link_to 'Users', users_path if admin?
            %li= link_to 'Market Place', vehicles_path if admin?
      - else
        %li= link_to 'Sign in', '', data: {target: '#signin-modal', toggle: 'modal'}
    %ul.nav.navbar-nav.navbar-right
      %li{class: ('active' if @menu == 'contact')}= mail_to "info@#{request.host}", 'Contact Us', subject: 'Info request', title: 'Talk to us!', target: '_blank'
      %li.social= link_to embedded_svg('facebook.svg', class: 'social-icon facebook', size: 45), Settings.social.facebook, title: 'Facebook'
      %li.social= link_to embedded_svg('twitter.svg', class: 'social-icon twitter', size: 45), Settings.social.twitter, title: 'Twitter'
      %li.social= link_to embedded_svg('linkedin.svg', class: 'social-icon linkedin', size: 45), Settings.social.linkedin, title: 'LinkedIn'
      %li.social= link_to embedded_svg('google.svg', class: 'social-icon google', size: 45), Settings.social.google, title: 'Google+'
