%footer.navbar.navbar-inverse{role: 'navigation'}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    = button_tag data: {target: '#bottom-collapse', toggle: 'collapse'}, class: 'navbar-toggle' do
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  / Collect the nav links, forms, and other content for toggling
  .collapse.navbar-collapse#bottom-collapse
    %ul.nav.navbar-nav.navbar-right
      %li{class: ('active' if @menu == 'faq')}= link_to 'FAQ', faq_url, title: 'frequently asked questions'
      %li{class: ('active' if @menu == 'contact')}= mail_to 'http://info@ridesnap.co', 'Contact Us', subject: 'Info request', title: 'Talk to us!', target: '_blank'
      %li.social= link_to embedded_svg('facebook.svg', class: 'social-icon facebook', size: 45), 'http://facebook.com', title: 'Facebook'
      %li.social= link_to embedded_svg('twitter.svg', class: 'social-icon twitter', size: 45), 'http://twitter.com', title: 'Twitter'
      %li.social= link_to embedded_svg('linkedin.svg', class: 'social-icon linkedin', size: 45), 'http://linkedin.com', title: 'LinkedIn'
      %li.social= link_to embedded_svg('google.svg', class: 'social-icon google', size: 45), 'http://plus.google.com', title: 'Google+'
      / %li= link_to '', nil, class: 'back-to-top glyphicon glyphicon-arrow-up', title: 'Top'