%header.navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
  .container-fluid
    .navbar-header
      = button_tag data: {target: '#top-collapse', toggle: 'collapse'}, class: 'navbar-toggle' do
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag('logo+brand.png'), root_path, class: 'navbar-brand'
    / Collect the nav links, forms, and other content for toggling
    #top-collapse.collapse.navbar-collapse
      - if admin?
        %p.navbar-text.grey.link= link_to 'refresh token', Carvoyant.first.auth_url, title: "#{Settings.carvoyant.user_account.username}:#{Settings.carvoyant.user_account.password}"
      %ul.nav.navbar-nav.navbar-right
        %li#how{class: "#{'active' if @menu == 'buy'}"}= link_to 'BUY', vehicles_url, title: 'MarketPlace', class: 'blue'
        %li{class: "#{'active' if @menu == 'sell'}"}= link_to 'SELL', sell_url, title: "Sell with #{Settings.app.name}", class: 'green'
        %li{class: ('active' if @menu == 'faq')}= link_to 'FAQs', faq_url, title: 'frequently asked questions'
        %li{class: ('active' if @menu == 'about')}= link_to 'ABOUT', about_url, title: "About #{Settings.app.name}"